#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
} 

.completed {
    color: gray;
    text-decoration: line-through;
}
h1 {
    background: rgb(84, 140, 84);
    text-transform: uppercase;
    color:rgb(212, 219, 212);
    margin: 0; 
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal; 
}

.fa-plus {
    float: right;
}



ul {
    list-style: none;
    background-color: #f7f7f7;
    padding: 13px;   
}


body {
    font-family: 'Roboto', sans-serif; 
    background: #649173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

li {
    background: white;
    height: 40px;
    line-height: 40px; 
    color: #666;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 18px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: rgb(84, 140, 84);
    border: 3px solid rgba(0, 0, 0, 0.1);
}  

input:focus {
    border: 2px solid rgba(84, 140, 84, 0.6);
    background: white;
    outline-color: rgba(84, 140, 84, 0.6);
}
span {
    background: rgb(216, 98, 43);
    height: 40px;
    width: 0;
    margin-right: 20px; 
    text-align: center;
    color: white;
    display: inline-block; 
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}